.parentHomeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65vh;
	margin-top: 100px;
}

.homeTitle {
	font-size: 50px;
	color: white;
}

.homeBodyText {
	font-size: 30px;
}

.parentFooterText {
	display: flex;
	justify-content: center;
}

.footerText {
	position: fixed;
	bottom: 10px;
}

@media only screen and (max-width: 430px) {
	.homeTitle {
		font-size: 45px;
	}
	.homeBodyText {
		font-size: 25px;
	}
}