@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #086BBE;
  color: white;
  background: url("./assets/Images/Fortnite_Wallpaper_4.jpg") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6;
}

.container {
  margin: 1rem;
  text-align: center;
  margin-top: 7%;
}

.errorText {
  color: rgb(215, 3, 3);
}

a:link {
  color: #ffd300;
}
/*** Container Responsive Design ***/

@media only screen and (max-width: 1380px) {
  .containerResize {
    margin-top:10%;
  }
}

@media only screen and (max-width: 1000px) {
  .containerResize {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 620px) {
  .containerResize {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .containerResize {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 380px) {
  .containerResize {
    margin-top: 30%;
  }
}

@media only screen and (max-width: 335px) {
  .containerResize {
    margin-top: 35%;
  }
}

@media only screen and (max-width: 300px) {
  .containerResize {
    margin-top: 40%;
  }
}

@media only screen and (max-width: 270px){
  .containerResize {
    margin-top: 45%;
  }
}